.about {
  margin: 0 auto;
  width: $content-width;
  h1 {
    border-bottom: 2px solid $site-black;
    width: 171px;
    font-size: 60px;
    font-family: $con-nova;
  }
}
p {
  font-size: 16px;
}

.client-quote {
  margin: 0 auto;
  width: $content-width;
  h2 {
    border-bottom: 2px solid $site-black;
    max-width: 190px;
    font-size: 40px;
  }
  .client-1 {
    height: 150px;
    width: 722px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    p {
      margin-left: 21px;
    }
    .pic {
      //   background-color: red;
      min-height: 150px;
      min-width: 260px;
      background-image: url(../images/about-client-01.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .name {
      color: $site-blue;
      position: absolute;
      top: 130px;
      right: 40px;
    }
  }
  .client-2 {
    height: 150px;
    width: 722px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-top: 37px;
    margin-bottom: 179px;

    p {
      margin-left: 21px;
    }
    .pic-2 {
      //   background-color: red;
      min-height: 150px;
      min-width: 260px;
      background-image: url(../images/about-client-02.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .name {
      color: $site-blue;
      position: absolute;
      top: 130px;
      right: 40px;
    }
  }
}

.hamb-icon {
  visibility: hidden;
}

@media all and (max-width: 920px) {
  .hamb-icon {
    visibility: visible;
  }
  .about {
    width: 500px;
  }
  .client-quote {
    width: 500px;

    .client-1 {
      display: flex;
      flex-direction: column;
      right: 150px;
      top: 60px;

      p {
        margin-left: 0px;
        margin-top: 20px;
        width: 260px;
      }
      .name {
        right: 00px;
        top: 180px;
      }
    }
    .client-2 {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      right: 150px;
      top: 100px;
      p {
        margin-left: 0px;
        margin-top: 20px;
        width: 260px;
      }
      .name {
        right: 00px;
        top: 180px;
      }
    }
  }
}
