$home-content-width: 818px;
$content-width: 980px;

//colors
$site-white: #ffffff;
$site-black: #000000;
$site-blue: #79addc;

//fonts
$con-nova: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
$light-gill-sans: url(fonts/GillSans-Light.ttf);
